$themes: (
  light: (
    backgroud-web: url('https://placeholderimage.eu/api/nature/id/1/1000/600'),
    backgroud-asset: url('../media/design/map.jpg'),
  ),
  dark: (
    backgroud-web: url('https://placeholderimage.eu/api/nature/id/4/1000/600'),
    backgroud-asset: url('../media/design/guide.jpg'),
  ),
);