:root {
  --color-text: '#FFFFFF';
  --color-background: '#FFFFFF';
}

html {
  color: var(--color-text);
  background-color: var(--color-background);
}


.main {

  .parametre {

  }

  .return{
    
  }
}
